<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="base.pattern">%d{yyy/MM/dd HH:mm:ss.SSS} %-5level - %msg%n%ex</Property>
		<Property name="base.filename">/log4j2/log/sample-httpclient</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${base.pattern}" />
		</Console>

		<RollingFile name="RollingFile" fileName="${base.filename}.log"
			filePattern="${base.filename}_%d{yyyyMMddhhmmss}_%i.log">
			<PatternLayout pattern="${base.pattern}" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="sample.httpclient.util.LogUtils" level="INFO" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
	</Loggers>
</Configuration>
